<template>
    <DynamicTable :table-object="tableObject"/>

</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "Notifications",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['notification', 'date'],
                tableData: [
                    {
                        notification: {
                            value: 'Go live with your new site'
                        },
                        date: {
                            value: 'Feb 10'
                        }
                    },
                    {
                        notification: {
                            value: 'Welcome to kinsta. Here is how to get started'
                        },
                        date: {
                            value: 'Feb 09'
                        }
                    },
                    {
                        notification: {
                            value: 'Your visits are going up!'
                        },
                        date: {
                            value: 'Feb 08'
                        }
                    }
                ]
            }
        }
    }
}
</script>

<style scoped>

</style>
