<template>
    <DynamicTable :table-object="tableObject">
        <template v-slot:visit="slotProps">
            <button
                class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition
                bg-blue-900 rounded-full shadow ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">
                {{ slotProps.displayText }}
            </button>
        </template>
    </DynamicTable>
</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "RequestsByViews",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['path', 'requests', 'bandwidth', 'visit'],
                tableData: [
                    {
                        path: {
                            value: '/'
                        },
                        requests: {
                            value: '3,897'
                        },
                        bandwidth: {
                            value: '6.71 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/'
                        }
                    },
                    {
                        path: {
                            value: '/?kinsta-monitor'
                        },
                        requests: {
                            value: '1,166'
                        },
                        bandwidth: {
                            value: '8.36 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/?kinsta-monitor'
                        }
                    },
                    {
                        path: {
                            value: '/wp-login.php'
                        },
                        requests: {
                            value: '3,306'
                        },
                        bandwidth: {
                            value: '4.88 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/?kinsta-monitor'
                        }
                    },
                    {
                        path: {
                            value: '/feed/'
                        },
                        requests: {
                            value: '1,142'
                        },
                        bandwidth: {
                            value: '3.73 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/feed/'
                        }
                    },
                    {
                        path: {
                            value: '/robots.txt'
                        },
                        requests: {
                            value: '4819'
                        },
                        bandwidth: {
                            value: '1.85 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/robots.txt'
                        }
                    },
                    {
                        path: {
                            value: '/favicon.ico'
                        },
                        requests: {
                            value: '4,829'
                        },
                        bandwidth: {
                            value: '5.31 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/favicon.ico'
                        }
                    }
                ]
            }
        }
    }
}
</script>

<style scoped>

</style>
