<template>
    <DynamicTable :table-object="tableObject">
        <template v-slot:visit="slotProps">
            <button
                class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition
                bg-blue-900 rounded-full shadow ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none">
                {{ slotProps.displayText }}
            </button>
        </template>
    </DynamicTable>
</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "RequestsByBytes",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['path', 'requests', 'bandwidth', 'visit'],
                tableData: [
                    {
                        path: {
                            value: '/'
                        },
                        requests: {
                            value: '71'
                        },
                        bandwidth: {
                            value: '59.26 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/'
                        }
                    },
                    {
                        path: {
                            value: '/?kinsta-monitor'
                        },
                        requests: {
                            value: '98'
                        },
                        bandwidth: {
                            value: '3.9 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/?kinsta-monitor'
                        }
                    },
                    {
                        path: {
                            value: '/wp-login.php'
                        },
                        requests: {
                            value: '67'
                        },
                        bandwidth: {
                            value: '80.94 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/?kinsta-monitor'
                        }
                    },
                    {
                        path: {
                            value: '/feed/'
                        },
                        requests: {
                            value: '65'
                        },
                        bandwidth: {
                            value: '88.71 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/feed/'
                        }
                    },
                    {
                        path: {
                            value: '/robots.txt'
                        },
                        requests: {
                            value: '37'
                        },
                        bandwidth: {
                            value: '42.04 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/robots.txt'
                        }
                    },
                    {
                        path: {
                            value: '/favicon.ico'
                        },
                        requests: {
                            value: '33'
                        },
                        bandwidth: {
                            value: '99.91 MB'
                        },
                        visit: {
                            type: 'button',
                            displayText: 'VISIT',
                            route: '/favicon.ico'
                        }
                    }
                ]
            }
        }
    }
}
</script>

<style scoped>

</style>
