<template>
    <DynamicTable :table-object="tableObject" :show-search="true" :show-pagination="true" :show-select-options="true">
        <template v-slot:name="slotProps">
            <router-link class="text-sm  text-blue-900 font-normal" :to="slotProps.url">
                {{ slotProps.displayText }}
            </router-link>
        </template>
        <template v-slot:environment="slotProps">
            <div class="justify-center select-none flex">
                <router-link v-for="env in slotProps.value" class="text-sm mr-2 text-green-800 font-normal"
                             :to="'/environment'">
                    {{ env }}
                </router-link>
            </div>
        </template>
    </DynamicTable>
</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "SitesTable",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['name', 'location', 'storage size', 'implementation language', 'language version', 'environment'],
                tableData: [
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 0',
                            route: '/site/0'
                        },
                        location: {
                            value: 'Montreal (CA)'
                        },
                        "storage size": {
                            value: '192.18MB'
                        },
                        "implementation language": {
                            value: 'Java'
                        },
                        "language version": {
                            value: '14'
                        },
                        environment: {
                            type: 'custom',
                            value: ['Live', 'Staging']
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 1',
                            route: '/site/1'
                        },
                        location: {
                            value: 'Taiwan (TW)'
                        },
                        "storage size": {
                            value: '192.18MB'
                        },
                        "implementation language": {
                            value: 'C#'
                        },
                        "language version": {
                            value: '11'
                        },
                        environment: {
                            type: 'custom',
                            value: ['Live']
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 2',
                            route: '/site/2'
                        },
                        location: {
                            value: 'Tampa Florida (USA)'
                        },
                        "storage size": {
                            value: '192.18MB'
                        },
                        "implementation language": {
                            value: 'PHP'
                        },
                        "language version": {
                            value: '14'
                        },
                        environment: {
                            type: 'custom',
                            value: ['Live', 'Staging']
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 3',
                            route: '/site/3'
                        },
                        location: {
                            value: 'Amsterdam (NET)'
                        },
                        "storage size": {
                            value: '192.18MB'
                        },
                        "implementation language": {
                            value: 'GO'
                        },
                        "language version": {
                            value: '10'
                        },
                        environment: {
                            type: 'custom',
                            value: ['Live', 'Staging']
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 4',
                            route: '/site/4'
                        },
                        location: {
                            value: 'Vienna (AUS)'
                        },
                        "storage size": {
                            value: '192.18MB'
                        },
                        "implementation language": {
                            value: 'Python'
                        },
                        "language version": {
                            value: '4'
                        },
                        environment: {
                            type: 'custom',
                            value: ['Live', 'Staging']
                        }
                    }
                ]


            }
        }
    }
}
</script>

<style scoped>

</style>
