<template>
    <DynamicTable :table-object="tableObject"/>
</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "SlowestTransactions",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['transaction', 'total duration (%)', 'total duration', 'max duration', 'avg duration', 'rates per min'],
                tableData: [
                    {
                        transaction: {
                            value: '/wp-cron.php'
                        },
                        "total duration": {
                            value: '523,238.21 ms'
                        },
                        "total duration (%)": {
                            value: '68.01%'
                        },
                        "max duration": {
                            value: '477,666.77 ms'
                        },
                        "avg duration": {
                            value: '234,256.71 ms'
                        },
                        "rates per min": {
                            value: '9.567'
                        }
                    },
                    {
                        transaction: {
                            value: '/wp-admin/admin-ajax.php'
                        },
                        "total duration (%)": {
                            value: '30.82%'
                        },
                        "total duration": {
                            value: '237,091.53 ms'
                        },
                        "max duration": {
                            value: '197,666.77 ms'
                        },
                        "avg duration": {
                            value: '134,256.71 ms'
                        },
                        "rates per min": {
                            value: '0.5'
                        }
                    },
                    {
                        transaction: {
                            value: '/wp-admin.php'
                        },
                        "total duration (%)": {
                            value: '0.86%'
                        },
                        "total duration": {
                            value: '6,647.64 ms'
                        },
                        "max duration": {
                            value: '5,647.64 ms'
                        },
                        "avg duration": {
                            value: '4,647.64 ms'
                        },
                        "rates per min": {
                            value: '0.05'
                        }
                    },
                    {
                        transaction: {
                            value: '/wp-json.php'
                        },
                        "total duration (%)": {
                            value: '0.16%'
                        },
                        "total duration": {
                            value: '1,217.51 ms'
                        },
                        "max duration": {
                            value: '917.51 ms'
                        },
                        "avg duration": {
                            value: '817.51 ms'
                        },
                        "rates per min": {
                            value: '0.017'
                        }
                    },
                    {
                        transaction: {
                            value: '/xmlrc.php'
                        },
                        "total duration (%)": {
                            value: '0.15%'
                        },
                        "total duration": {
                            value: '1,143 ms'
                        },
                        "max duration": {
                            value: '1,043 ms'
                        },
                        "avg duration": {
                            value: '943 ms'
                        },
                        "rates per min": {
                            value: '0.017'
                        }
                    }


                ]
            }
        }
    }
}
</script>

<style scoped>

</style>
