<template>
    <DynamicTable :table-object="tableObject">
        <template v-slot:roles="slotProps">
            <span class="ml-3" v-for="role in slotProps.value">{{ role }}</span>
        </template>
    </DynamicTable>
</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "UsersTable",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['name', 'email', 'programming language', 'framework', 'roles'],
                tableData: [
                    {
                        name: {
                            value: 'Andrej Anchevski'
                        },
                        email: {
                            value: 'andrej.anchevski@hotmail.co.uk'
                        },
                        "programming language": {
                            value: 'PHP'
                        },
                        framework: {
                            value: 'Laravel'
                        },
                        roles: {
                            type: 'custom',
                            value: ['Admin', 'User']
                        }
                    },
                    {
                        name: {
                            value: 'Oliver Cvetkovski'
                        },
                        email: {
                            value: 'oliver.cvetkovski@hotmail.co.uk'
                        },
                        "programming language": {
                            value: 'Python'
                        },
                        framework: {
                            value: '3'
                        },
                        roles: {
                            type: 'custom',
                            value: ['Admin', 'User', 'Manager']
                        }
                    },
                    {
                        name: {
                            value: 'Mario Mitrevski'
                        },
                        email: {
                            value: 'mario.mitrevski@hotmail.co.uk'
                        },
                        "programming language": {
                            value: 'Java'
                        },
                        framework: {
                            value: 'Spring'
                        },
                        roles: {
                            type: 'custom',
                            value: ['User', 'Manager']
                        }
                    },
                    {
                        name: {
                            value: 'Stefan Jovanov'
                        },
                        email: {
                            value: 'stefan.jovanov@hotmail.co.uk'
                        },
                        "programming language": {
                            value: 'PHP'
                        },
                        framework: {
                            value: 'LARAVEL'
                        },
                        roles: {
                            type: 'custom',
                            value: ['User']
                        }
                    },
                    {
                        name: {
                            value: 'Pavel Jankoski'
                        },
                        email: {
                            value: 'pavel.jankoski@hotmail.co.uk'
                        },
                        "programming language": {
                            value: 'C#'
                        },
                        framework: {
                            value: 'ASP.NET'
                        },
                        roles: {
                            type: 'custom',
                            value: ['Admin']
                        }
                    }
                ]
            }
        }
    }
}
</script>

<style scoped>

</style>
