<template>
    <DynamicTable :table-object="tableObject" :show-cols="true">
        <template v-slot:name="slotProps">
            <router-link class="text-sm text-blue-900 font-normal" :to="slotProps.url">
                {{ slotProps.displayText }}
            </router-link>
        </template>
    </DynamicTable>
</template>

<script>
import DynamicTable from "@/components/UI/DynamicTable";

export default {
    name: "YourSitesShort",
    components: {DynamicTable},
    data() {
        return {
            tableObject: {
                columns: ['name', 'visits'],
                tableData: [
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 0',
                            route: '/site/0'
                        },
                        visits: {
                            value: 23,
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 1',
                            route: '/site/1'
                        },
                        visits: {
                            value: 45
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 2',
                            route: '/site/2'
                        },
                        visits: {
                            value: 74
                        }
                    },
                    {
                        name: {
                            type: 'link',
                            displayText: 'Demo Site 3',
                            route: '/site/3'
                        },
                        visits: {
                            value: 94
                        }
                    }
                ]
            }
        }
    }
}
</script>

<style scoped>

</style>
