<template>
    <div class="w-full" v-if="series.every(val => val['data']) ">
        <apexchart
            width="100%"
            :options="chartOptions"
            :series="series"
        ></apexchart>
    </div>

</template>

<script>

import {getRandomChartConfig} from "@/util";

export default {
    name: "BarChart",
    data() {
        return {
            series: [{
                name: "Page Visits",
                data: null,
            }],
            chartOptions: {
                chart: {
                    zoom: {
                        enabled: true
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                title: {
                    text: 'Page Visits by Month',
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: [],
                }
            }

        }
    },
    mounted() {
        const minValue = 200;
        const maxValue = 500;
        const barType = 'bar';

        this.barChartConfig = getRandomChartConfig(minValue, maxValue, barType, 'My chart implementation', ['bar', 'bar'])

        this.series = this.barChartConfig.series

        this.chartOptions = {
            ...this.chartOptions,
            xaxis: {
                ...this.chartOptions.xaxis,
                categories: this.barChartConfig.categories
            },
            stroke: {
                ...this.chartOptions.stroke,
                curve: this.barChartConfig.curveType
            },
            title: {
                ...this.chartOptions.title,
                text: this.barChartConfig.title
            }
        }
    }
}
</script>

<style scoped>

</style>