<template>
    <apexchart
        v-if="series.every(val => val['data'])"
        width="100%"
        :height="height"
        :options="chartOptions"
        :series="series"
    ></apexchart>
</template>

<script>
export default {
    name: "ChartComponent",
    props: {
        series: {
            type: Array,
            required: true
        },
        categories: {
            type: Array,
            required: true
        },
        title: {
            type: String,
            required: false,
            default: '',
        },
        curveType: {
            type: String,
            required: false,
            default: 'smooth'
        },
        height: {
            type: Number,
            required: false,
            default: 300
        },
        stacked: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data() {
        return {
            chartOptions: {
                chart: {
                    stacked: this.stacked,
                    zoom: {
                        enabled: true
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: this.curveType
                },
                title: {
                    text: this.title,
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'],
                        opacity: 0.5
                    },
                },
                xaxis: {
                    categories: this.categories,
                }
            }
        }
    }
}
</script>

<style scoped>

</style>