<template>
    <div class="w-full">
        <apexchart
            width="100%"
            type="line"
            :options="chartOptions"
            :series="series"
        ></apexchart>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            chartOptions: {
                chart: {
                    id: "vuechart-example",
                },
                xaxis: {
                    categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
                },
            },
            series: [
                {
                    name: "series-1",
                    data: [30, 40, 35, 50, 49, 60, 70, 91],
                },
                {
                    name: "series-2",
                    data: [20, 44, 366, 540, 449, 601, 701, 941],
                },
            ],
        };
    },
};
</script>