<template>
    <apexchart
        type="radialBar"
        class="w-full"
        :height="height"
        :options="chartOptions"
        :series="series">
    </apexchart>
</template>

<script>
export default {
    name: "RadialChartComponent",
    props: {
        series: {
            type: Array,
            required: true,
            default: [76, 67, 61, 90]
        },
        categories: {
            type: Array,
            required: true,
            default: ['Vimeo', 'Messenger', 'Facebook', 'LinkedIn']
        },
        height: {
            type: Number,
            required: false,
            default: 290
        }
    },
    data() {
        return {
            chartOptions: {
                chart: {
                    height: this.height,
                    type: 'radialBar',
                },
                plotOptions: {
                    radialBar: {
                        offsetY: 0,
                        startAngle: 0,
                        endAngle: 270,
                        hollow: {
                            margin: 5,
                            size: '30%',
                            background: 'transparent',
                            image: undefined,
                        },
                        dataLabels: {
                            name: {
                                show: false,
                            },
                            value: {
                                show: false,
                            }
                        }
                    }
                },
                // colors: ['#1ab7ea', '#0084ff', '#39539E', '#0077B5'],
                labels: this.categories,
                legend: {
                    show: true,
                    floating: true,
                    fontSize: '14px',
                    position: 'left',
                    offsetX: 15,
                    offsetY: -15,
                    labels: {
                        useSeriesColors: true,
                    },
                    markers: {
                        size: 0
                    },
                    formatter: function (seriesName, opts) {
                        return seriesName + ":  " + opts.w.globals.series[opts.seriesIndex]
                    },
                    itemMargin: {
                        vertical: 3
                    }
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        legend: {
                            show: true,
                            fontSize: '12px',
                            position: 'left',
                            offsetX: 5,
                            offsetY: -15,
                        }
                    }
                }]
            }
        }
    }
}
</script>

<style scoped>

</style>
