<template>
    <ViewHeaderComponent title="Analytics"
                         subtitle="Visualize your pages growth by time"/>
    <DynamicCardRow :nested-components="[
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'Comparison of Visits by year',
            subTitle: 'Jan.2019 - Dec.2019 vs. Jan.2020 - Dec.2020',
            props: {
                'categories': categoriesSecondChart,
                'series': seriesSecondChart
            }
        }
    ]"></DynamicCardRow>

    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'comparison of Malfunctions by Year',
            subTitle: 'Jan.2019 - Dec.2019 vs. Jan.2020 - Dec.2020',
            props: {
                'categories': categoriesFirstChart,
                'series': seriesFirstChart
            }
        }
    ]"></DynamicCardRow>

    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'Disk Usage (MB)',
            subTitle: 'Jan.2020 - Dec.2020',
            props: {
                'categories': categoriesThirdChart,
                'series': seriesThirdChart
            }
        }
    ]"></DynamicCardRow>

    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'RequestsByBytes',
            componentType: 'table',
            title: 'Top requests by bytes'
        }
    ]"/>
    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'RequestsByViews',
            componentType: 'table',
            title: 'Top requests by views'
        }
    ]"/>

</template>

<script>
import DynamicCardRow from "@/components/UI/DynamicCardRow";
import ViewHeaderComponent from "@/components/ViewHeaderComponent";
import {generateSeriesDataAndCategory} from "@/util";

export default {
    name: "Analytics",
    components: {ViewHeaderComponent, DynamicCardRow},
    data() {
        return {
            seriesFirstChart: [],
            categoriesFirstChart: [],
            seriesSecondChart: [],
            categoriesSecondChart: [],
            seriesThirdChart: [],
            categoriesThirdChart: []
        }
    },
    mounted() {
        const confFirst = generateSeriesDataAndCategory(0, 3, 2020, 2020)
        const secondConfFirst = generateSeriesDataAndCategory(0, 7, 2019, 2019)

        this.seriesFirstChart = [
            {
                name: 'Malfunctions in 2019',
                data: secondConfFirst.series,
                type: 'bar'
            },
            {
                name: 'Malfunctions in 2020',
                data: confFirst.series,
                type: 'bar'
            }
        ]

        this.categoriesFirstChart = confFirst.category.map(it => it.split('\.').splice(0, 1))


        const confSecond = generateSeriesDataAndCategory(700, 1300, 2020, 2020)
        const secondConfSecond = generateSeriesDataAndCategory(600, 1000, 2019, 2019)

        this.seriesSecondChart = [
            {
                name: 'Visits in 2019',
                data: secondConfSecond.series,
                type: 'line'
            },
            {
                name: 'Visits in 2020',
                data: confSecond.series,
                type: 'line'
            },
        ]

        this.categoriesSecondChart = confSecond.category.map(it => it.split('\.').splice(0, 1))

        const confThird = generateSeriesDataAndCategory(20, 80, 2019, 2020)

        this.seriesThirdChart = [
            {
                name: 'Disk usage by month (MB)',
                data: confThird.series,
                type: 'area'
            },
        ]

        this.categoriesThirdChart = confThird.category
    }
}
</script>

<style scoped>

</style>
