<template>
    <ViewHeaderComponent title="Dashboard"
                         subtitle="Grasp your data through powerful visualizations"
                         section-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
    />
    <DynamicCardRow :nested-components="[
        {
            componentName: 'YourSitesShort',
            componentType: 'table',
            title: 'Your Sites',
            link: {
                linkDisplay: 'View all',
                url: '/sites'
            }
        },
        {
            componentName: 'RadialChartComponent',
            componentType: 'chart',
            title: 'Number of Page Visits',
            subTitle: 'Last 24 hours',
            props: {
                'categories': pieConf.categories,
                'series': pieConf.series,

            }
        },
        {
            componentName: 'Notifications',
            componentType: 'table',
            title: 'Notifications',
            link: {
                linkDisplay: 'View all',
                url: '/notifications'
            },
        }]"/>
    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'Amount of revenue generated',
            subTitle: 'Jan.2020 - Dec.2020',
            props: {
                'categories': categoriesFirstChart,
                'series': seriesFirstChart
            }
        },
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'Data Transfer (MB)',
            subTitle: 'Jan.2018 - Dec.2018',
            props: {
                'categories': categoriesSecondChart,
                'series': seriesSecondChart,
                'curveType': 'stepline'
            }
        }
    ]"/>
    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'CDN Usage',
            subTitle: 'Jan.2019 - Dec.2019',
            props: {
                'categories': categoriesThirdChart,
                'series': seriesThirdChart
            }
        }
    ]"/>
</template>

<script>

import ViewHeaderComponent from "@/components/ViewHeaderComponent";
import DynamicCardRow from "@/components/UI/DynamicCardRow";
import {generateSeriesDataAndCategory} from "@/util";

export default {
    name: 'Dashboard',
    components: {DynamicCardRow, ViewHeaderComponent},
    data() {
        return {
            categoriesFirstChart: [],
            seriesFirstChart: [],
            categoriesSecondChart: [],
            seriesSecondChart: [],
            categoriesThirdChart: [],
            seriesThirdChart: [],
            pieConf: null
        }
    },
    created() {
        const confFirst = generateSeriesDataAndCategory(300, 500, 2020, 2020)
        this.seriesFirstChart = [
            {
                name: 'Monthly income (mil. of $)',
                data: confFirst.series,
                type: 'line'
            }
        ]
        this.categoriesFirstChart = confFirst.category

        const confSecond = generateSeriesDataAndCategory(1400, 3400, 2018, 2018)
        this.seriesSecondChart = [
            {
                name: 'Data transfer per day',
                data: confSecond.series,
                type: 'line'
            }
        ]
        this.categoriesSecondChart = confSecond.category

        const confThird = generateSeriesDataAndCategory(1400, 3400, 2019, 2019)
        this.seriesThirdChart = [
            {
                name: 'CDN Usage per day',
                data: confThird.series,
                type: 'line'
            }
        ]
        this.categoriesThirdChart = confThird.category

        this.pieConf = {
            series: [23, 45, 74, 94],
            categories: ['TMF', 'MFS', 'FEIT', 'FINKI']
        }
    }
}
</script>
