<template>
    <ViewHeaderComponent title="Sites"
                         :has-action-button="true"
                         subtitle="Take a look at your pages"
                         action-button-text="Create page"
                         :action-button-callback="onCreateItemClick"
                         section-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation "
    />
    <ModalComponent :show-modal="modalOpen"
                    :on-cancel="onModalCancel"
                    :on-submit="onModalSubmit"
                    title="Create new cite">
        <CiteFormComponent :form-data="formData" @form-change="onFormChange"/>
    </ModalComponent>
    <DynamicCardRow :nested-components="[
        {
            componentName: 'SitesTable',
            componentType: 'table'
        }]">

    </DynamicCardRow>

</template>

<script>
import ViewHeaderComponent from "@/components/ViewHeaderComponent";
import CiteFormComponent from "@/components/forms/CiteFormComponent";
import ModalComponent from "@/components/ModalComponent";
import DynamicCardRow from "@/components/UI/DynamicCardRow";

export default {
    name: "Sites",
    components: {DynamicCardRow, ModalComponent, CiteFormComponent, ViewHeaderComponent},
    data() {
        return {
            modalOpen: false,
            formData: {
                name: undefined,
                location: undefined,
                diskSize: undefined,
                programmingLanguage: undefined,
                languageVersion: undefined,
                environment: undefined,
            }
        }
    },
    methods: {
        onCreateItemClick: function () {
            this.modalOpen = true;
        },
        onModalCancel: function () {
            this.modalOpen = false;
            this.formData = {}
        },
        onModalSubmit: function () {
            console.log(this.formData)
            this.modalOpen = false;
            this.formData = {}
        },
        onFormChange: function ($event) {
            const {name, value} = $event.target
            this.formData[name] = value
        }
    }
}
</script>

<style scoped>

</style>
