<template>
    <ViewHeaderComponent :title="`Page ${$route.params.id } details`"
                         subtitle="Pages behave differently. These are the details"/>
    <DynamicCardRow :nested-components="[
        {
            componentName: 'ShortSiteDetailsComponent',
            title: 'Basic details',
            props: {
                siteData: siteData
            }
        }
    ]"/>
    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'ChartComponent',
            componentType: 'chart',
            title: 'Total response time decomposition',
            props: {
                'categories': chartCategories,
                'series': chartSeries,
                'stacked': true
            }
        },
    ]"/>
    <DynamicCardRow class="mt-8" :nested-components="[
        {
            componentName: 'SlowestTransactions',
            componentType: 'table',
            title: 'Slowest Transactions'
        }
    ]"/>


</template>

<script>
import ViewHeaderComponent from "@/components/ViewHeaderComponent";
import DynamicCardRow from "@/components/UI/DynamicCardRow";
import {generateSeriesDataAndCategory} from "@/util"

export default {
    name: "Site Details",
    components: {DynamicCardRow, ViewHeaderComponent},
    data() {
        return {
            chartCategories: undefined,
            chartSeries: undefined,
            siteData: undefined
        }
    },
    beforeMount() {
        const phpSeries = generateSeriesDataAndCategory(3000, 6000, 2018, 2020)
        const sqlSeries = generateSeriesDataAndCategory(1000, 4000, 2018, 2020)
        const redisSeries = generateSeriesDataAndCategory(1000, 3000, 2018, 2020)
        const externalSeries = generateSeriesDataAndCategory(4000, 8000, 2018, 2020)

        this.chartSeries = [
            {
                name: 'PHP response times (ms)',
                data: phpSeries.series.map(it => it / 100.),
                type: 'bar'
            },
            {
                name: 'SQL response times (ms)',
                data: sqlSeries.series.map(it => it / 100.),
                type: 'bar'
            },
            {
                name: 'Redis response times (ms)',
                data: redisSeries.series.map(it => it / 100.),
                type: 'bar'
            },
            {
                name: 'External response times (ms)',
                data: externalSeries.series.map(it => it / 100.),
                type: 'bar'
            }
        ]

        const categoryData = []

        for (let i = 0; i < phpSeries.category.length; i++) {
            let intermediarySum = phpSeries.series[i] + sqlSeries.series[i] + redisSeries.series[i] + externalSeries.series[i]
            intermediarySum /= 100.
            categoryData.push(intermediarySum.toString())
        }
        this.chartCategories = categoryData

        this.siteData = {
            name: 'Kinsta',
            location: 'North Macedonia (MKD)',
            diskSize: 256,
            programmingLanguage: 'JavaScript',
            languageVersion: '21.3',
            environment: 'Live',
        }
    }
}
</script>

<style scoped>

</style>
