<template>
    <ViewHeaderComponent title="User List"
                         :has-action-button="true"
                         subtitle="View and manage your employees"
                         action-button-text="Create user"
                         :action-button-callback="onCreateUserClick"
                         section-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation "
    />
    <ModalComponent :show-modal="modalOpen"
                    :on-cancel="onModalCancel"
                    :on-submit="onModalSubmit"
                    title="Create new user">
        <UserFormComponent :form-data="formData" @form-change="onFormChange"
                           @form-check-list-change="handleFormCheckListChange"/>
    </ModalComponent>
    <DynamicCardRow :nested-components="[
        {
            componentName: 'UsersTable',
            componentType: 'table'
        }
    ]"/>

</template>

<script>
import ViewHeaderComponent from "@/components/ViewHeaderComponent";
import ModalComponent from "@/components/ModalComponent";
import UserFormComponent from "@/components/forms/UserFormComponent";
import DynamicCardRow from "@/components/UI/DynamicCardRow";

export default {
    name: "Users",
    components: {DynamicCardRow, ViewHeaderComponent, ModalComponent, UserFormComponent},
    data() {
        return {
            modalOpen: false,
            defaultFormData: {
                firstName: undefined,
                lastName: undefined,
                email: undefined,
                programmingLanguage: undefined,
                framework: undefined,
                roles: [
                    {
                        label: 'Admin',
                        value: 'admin_role',
                        checked: false
                    },
                    {
                        label: 'User',
                        value: 'user_role',
                        checked: false
                    },
                    {
                        label: 'Manager',
                        value: 'manager_role',
                        checked: false
                    },
                    {
                        label: 'Architect',
                        value: 'architect_role',
                        checked: false
                    }
                ]
            },
            formData: undefined
        }
    },
    methods: {
        onCreateUserClick: function () {
            this.modalOpen = true;
        },
        onModalCancel: function () {
            this.modalOpen = false;
            this.formData = this.defaultFormData
        },
        onModalSubmit: function () {
            const finalDataForm = {
                ...this.formData
            }
            finalDataForm.roles = this.formData.roles.filter(role => role.checked).map(role => role.value)
            this.modalOpen = false;
            this.formData = this.defaultFormData
            console.log(finalDataForm)
        },
        onFormChange: function ($event) {
            const {name, value} = $event.target
            this.formData[name] = value
        },
        handleFormCheckListChange: function ($event) {
            const {value, checked} = $event.target
            const targetRole = this.formData.roles.find(role => role.value === value)
            targetRole.checked = checked
        }
    },
    beforeMount() {
        this.formData = this.defaultFormData
    }
}
</script>

<style scoped>

</style>
