<template>
<!--    bg-blue-700 w-80 lg:flex lg:flex-col lg:static text-white p-4 min-h-screen h-auto overflow-auto max-w-full block fixed left-0 transform ease-in-out transition-all duration-300 z-20-->
    <aside
        class="bg-blue-900 flex flex-col items-start text-white w-full min-h-screen overflow-auto
      max-w-full fixed left-0 transform ease-in-out transition-all duration-300 z-20
      md:w-80
      lg:static"

        :class="openBasedOnScreenSize || isOpen ? 'translate-x-0' : '-translate-x-full'">
        <div id="app-logo" class="hidden px-4 py-8 lg:block">
            <h1 class="font-black text-3xl">
                NV Dash
            </h1>
        </div>
        <router-link v-for="route in routes"
                     class="router-link-container w-full flex items-start"
                     active-class="my-active"
                     :to="route.path" exact>
            <div class="flex items-center w-full px-4 py-3 hover:cursor-pointer" @click="$emit('nav-toggle-event')">
                <div v-html="getInnerIcon(route.path)"
                     class="svg-container flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-800"/>
                <span class="ml-4">{{ route.name }}</span>
            </div>
        </router-link>
    </aside>
</template>

<style lang="scss">
.my-active .svg-container {
    @apply bg-blue-500
}

.router-link-container:hover:not(.my-active) .svg-container {
    @apply bg-blue-600
}
</style>

<script>
import {path_icon_mapper} from "@/router";

export default {
    name: 'Nav',
    props: {
        isOpen: Boolean
    },
    data() {
        return {
            routes: [],
            screenWidth: screen.width
        }
    },
    methods: {
        getInnerIcon: function (path) {
            return path_icon_mapper[path]
        },
        onResize: function () {
            this.screenWidth = document.body.clientWidth
        }
    },
    created() {
        this.routes = this.$router.options.routes.filter(it => it.meta.isTopLevelRoute)
        window.addEventListener("resize", this.onResize)
    },
    beforeUnmount() {
        window.removeEventListener("resize", this.onResize)
    },
    computed: {
        openBasedOnScreenSize() {
            return this.screenWidth >= 1024;
        }
    }

}
</script>
