<template>
    <div class="flex flex-col items-start xl:grid xl:grid-cols-3 xl:grid-rows-2 xl:gap-y-1 xl:gap-x-4">
        <div class="flex flex-col mb-4 w-full md:flex-row md:items-center md:mb-4 xl:gap-x-1">
            <h2 class="font-bold pb-3 pl-3 text-gray-700 capitalize md:w-2/5 xl:w-3/5">Name</h2>
            <div class="p-3 bg-gray-100 w-100 md:w-3/5">{{ siteData.name }}</div>
        </div>
        <div class="flex flex-col mb-4 w-full md:flex-row md:items-center md:mb-4 xl:gap-x-1">
            <h2 class="font-bold pb-3 pl-3 text-gray-700 capitalize md:w-2/5 xl:w-3/5">Location</h2>
            <div class="p-3 bg-gray-100 w-100 md:w-3/5">{{ siteData.location }}</div>
        </div>
        <div class="flex flex-col mb-4 w-full md:flex-row md:items-center md:mb-4 xl:gap-x-1">
            <h2 class="font-bold pb-3 pl-3 text-gray-700 capitalize md:w-2/5 xl:w-3/5">Disk Size</h2>
            <div class="p-3 bg-gray-100 w-100 md:w-3/5">{{ siteData.diskSize }}MB</div>
        </div>
        <div class="flex flex-col mb-4 w-full md:flex-row md:items-center md:mb-4 xl:gap-x-1">
            <h2 class="font-bold pb-3 pl-3 text-gray-700 capitalize md:w-2/5 xl:w-3/5">Programming Language</h2>
            <div class="p-3 bg-gray-100 w-100 md:w-3/5">{{ siteData.programmingLanguage }}</div>
        </div>
        <div class="flex flex-col mb-4 w-full md:flex-row md:items-center md:mb-4 xl:gap-x-1">
            <h2 class="font-bold pb-3 pl-3 text-gray-700 capitalize md:w-2/5 xl:w-3/5">Language Version</h2>
            <div class="p-3 bg-gray-100 w-100 md:w-3/5">{{ siteData.languageVersion }}</div>
        </div>
        <div class="flex flex-col mb-4 w-full md:flex-row md:items-center md:mb-4 xl:gap-x-1">
            <h2 class="font-bold pb-3 pl-3 text-gray-700 capitalize md:w-2/5 xl:w-3/5">Environment</h2>
            <div class="p-3 bg-gray-100 w-100 md:w-3/5">{{ siteData.environment }}</div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ShortSiteDetailsComponent",
    props: {
        siteData: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>

</style>