<template>
    <div class="bg-blue-900 text-white h-16 flex items-center p-4 space-x-4 w-full fixed z-40 lg:hidden">
    <span @click="onNavToggle" class="hover:cursor-pointer">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path>
      </svg>
    </span>
        <h1 class="text-xl">NV Dash</h1>
    </div>
</template>

<script>
export default {
    name: "TopBar",
    methods: {
        onNavToggle: function () {
            this.$emit('nav-toggle-event')
        }
    }
}
</script>

<style scoped>

</style>