<template>
    <div class="pb-6 lg:pb-10">
        <div class="flex justify-start items-start flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex flex-col justify-around w-full xl:w-4/6 mb-4 md:mb-0">
                <h1 class="font-black text-4xl mb-2">
                    {{ title }}
                </h1>
                <small v-if="subtitle" class="text-gray-600 font-bold">{{ subtitle }}</small>
            </div>
            <button v-if="hasActionButton" @click="actionButtonCallback"
                    class="bg-blue-900 text-white rounded-3xl w-1/2 py-3 md:w-1/5 lg:w-1/6">
                {{ actionButtonText }}
            </button>
        </div>
        <div v-if="sectionText" class="pt-6 text-justify text-sm w-full md:pt-10 lg:text-base xl:w-4/6">
            {{ sectionText }}
        </div>
    </div>
</template>

<script>
export default {
    name: "ViewHeaderComponent",
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
            required: false
        },
        sectionText: {
            type: String,
            required: false
        },
        hasActionButton: {
            type: Boolean,
            required: false,
            default: false
        },
        actionButtonText: {
            type: String,
            required: false,
            default: 'Click'
        },
        actionButtonCallback: {
            type: Function,
            required: false,
            default: function (ev) {
                console.log(`${this.title} header clicked!`)
            }
        }
    }
}
</script>

<style scoped>

</style>