<template>
    <TopBar @nav-toggle-event="onNavStateChange"/>
    <div class="block pt-14 lg:pt-0 lg:flex">
        <Nav :is-open="isOpen" @nav-toggle-event="onNavStateChange"/>
        <main class="md:p-8 px-4 pt-6 w-full bg-gray-100">
            <router-view/>
        </main>
    </div>
</template>

<style lang="scss">

</style>

<script>
import Nav from "@/components/Nav";
import TopBar from "@/components/TopBar";

export default {
    components: {TopBar, Nav},
    data() {
        return {
            isOpen: false
        }
    },
    methods: {
        onNavStateChange: function () {
            this.isOpen = !this.isOpen
        }
    }
}
</script>