<template>
    <div v-bind:class="noOfCols" class="grid grid-rows-1 gap-8 grid-cols-1">
        <DynamicCard v-for="(component,index) in nestedComponents"
                     :key="index"
                     :dark-mode="darkRowMode"
                     :title="component.title"
                     :sub-title="component.subTitle"
                     :link="component.link"
                     :component-type="component.componentType">
            <component v-bind:="component.props"
                       v-bind:is="generateComp(component.componentName, component.componentType)"/>
        </DynamicCard>
    </div>
</template>

<script>

import DynamicCard from "@/components/UI/DynamicCard";
import {defineAsyncComponent} from 'vue'

export default {
    name: "DynamicCardRow",
    components: {
        DynamicCard
    },
    data() {
        return {
            pathsToFolders: {
                "chart": 'charts',
                "table": 'tables'
            }
        }
    },
    methods: {
        generateComp(compName, componentType) {
            if (componentType !== '' && componentType) {
                return defineAsyncComponent(() => import(`@/components/${this.pathsToFolders[componentType]}/${compName}.vue`))
            } else {
                return defineAsyncComponent(() => import(`@/components/${compName}.vue`))
            }

        }
    },
    props: {
        nestedComponents: {
            type: Array,
            required: true
        },
        darkRowMode: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    computed: {
        noOfCols() {
            const compLen = this.nestedComponents.length
            const lgClass = compLen <= 2 ? compLen : 2
            const xlClass = compLen <= 3 ? compLen : 3
            return [`lg:grid-cols-${lgClass}`, `xl:grid-cols-${xlClass}`]
        }
    }
}
</script>

<style scoped>

</style>
