<template>
    <div class="w-full mx-auto overflow-auto">
        <div class="flex sm:flex-row flex-col mb-3" v-if="showPagination || showSelectOptions || showSearch">
            <div class="flex flex-row mb-1 sm:mb-0" >
                <div class="relative" v-if="showPagination">
                    <select
                        class="appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
                <div class="relative" v-if="showSelectOptions">
                    <select
                        class="appearance-none h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                        <option>All</option>
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                    <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="block relative" v-if="showSearch">
                    <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                            <path
                                d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                            </path>
                        </svg>
                    </span>
                <input placeholder="Search"
                       class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"/>
            </div>
        </div>
        <table class="table table-auto w-full text-left">
            <thead v-if="showCols">
            <tr>
                <th :class="[index === 0? 'rounded-tl rounded-bl':'', index ===tableObject.columns.length -1 ? 'rounded-tr rounded-br' : '']"
                    v-for="(col,index) in tableObject.columns"
                    class="capitalize px-4 py-3 bg-blue-900 text-base text-white font-normal">
                    {{ col }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(row,index) in tableObject.tableData" class="text-base font-light" :key="index"
                :class="index % 2 !== 0? 'bg-gray-200' : ''">
                <td v-for="(col,index) in tableObject.columns" class="px-4 py-3" :key="index">
                    <slot :name="col" :url="row[col]['route']"
                          :displayText="row[col]['displayText']"
                          :value="row[col]['value']">
                    </slot>
                    <template v-if="row[col]">
                        <template v-if="!row[col]['type']">
                            {{ row[col]['value'] }}
                        </template>
                    </template>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "DynamicTable",
    props: {
        tableObject: {
            type: Object,
            required: true
        },
        showPagination: {
            type: Boolean,
            required: false,
            default: false
        },
        showSelectOptions: {
            type: Boolean,
            required: false,
            default: false
        },
        showSearch: {
            type: Boolean,
            required: false,
            default: false
        },
        showCols: {
            type: Boolean,
            required: false,
            default: true
        }
    }

}
</script>

<style scoped>

</style>
