<template>
    <div class="h-full w-full">
        <div v-bind:class="darkMode? ['text-gray-100'] : ''" class="overflow-hidden shadow-md h-full">
            <!-- card header -->
            <div v-if="title"
                 v-bind:class="darkMode? ['bg-gray-800','border-gray-600'] : ['bg-white','border-gray-200']"
                 class="px-6 py-4 border-b flex flex-col md:flex-row md:justify-between md:align-middle">
                <span class="font-bold capitalize"
                      :class="subTitle ? 'pb-1 md:pb-0' : ''">{{ title }}</span>
                <span class="text-sm text-gray-600 font-bold" v-if="subTitle">{{ subTitle }}</span>
                <router-link class="text-sm float-right text-indigo-400" v-if="link" :to="link.url">
                    {{ link.linkDisplay }}
                </router-link>
            </div>
            <!-- card body -->
            <div v-bind:class="darkMode? ['bg-gray-800','border-gray-600'] : ['bg-white','border-gray-200']"
                 class="p-3 h-full">
                <!-- content goes here -->
                <slot>
                    <p>This is a Card Template. Please use it wisely!</p>
                </slot>
            </div>
        </div>
    </div>


</template>

<script>
export default {
    name: "DynamicCard",
    props: {
        title: {
            type: String,
            required: false
        },
        subTitle: {
            type: String,
            required: false
        },
        darkMode: {
            type: Boolean,
            required: false,
            default: false
        },
        link: {
            type: Object,
            required: false
        },
        componentType: {
            type: String,
            required: false,
            default: ''
        }
    }
}
</script>

<style scoped>

</style>
