<template>
    <input @change="$emit('check-toggle', $event)" type="checkbox" :id="role.value" name="roles" :value="role.value"
           class="hidden">
    <label :for="role.value" class="px-4 py-2 rounded-3xl text-white hover:cursor-pointer"
           :class="role.checked ? 'bg-blue-900' : 'bg-gray-500'">
        {{ role.label }}
    </label>
</template>

<script>
export default {
    name: "CheckboxInputComponent",
    emits: ['check-toggle'],
    props: {
        role: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped lang="scss">
</style>