<template>
    <div class="w-full">
        <h1 class="block text-gray-700 text-sm font-bold mt-4">
            {{ title }}
        </h1>
        <div class="flex flex-wrap flex-row mt-5 gap-x-2 gap-y-1">
            <CheckboxInputComponent @check-toggle="$emit('check-list-change', $event)" v-for="role in items"
                                    :role="role"/>
        </div>
    </div>
</template>

<style scoped lang="scss">
</style>

<script>
import CheckboxInputComponent from "@/components/forms/CheckboxInputComponent";

export default {
    name: "CheckboxListComponent",
    components: {CheckboxInputComponent},
    emits: ['check-list-change'],
    props: {
        items: {
            type: Array,
            required: true
        },
        title: {
            type: String,
            required: true,
            default: "User role list"
        }
    }
}
</script>
