<template>
    <form class="w-100">
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.name"
                            name="name"
                            type="text"
                            placeholder="Web site name"
                            label="Web Site Name"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.location"
                            name="location"
                            type="text"
                            placeholder="Server location"
                            label="Server Location" :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.diskSize"
                            name="diskSize"
                            type="number"
                            placeholder="Storage size"
                            label="Storage size"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.programmingLanguage"
                            name="programmingLanguage"
                            type="text"
                            placeholder="Implementation language"
                            label="Implementation Language"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.languageVersion"
                            name="languageVersion"
                            type="string"
                            placeholder="Language version"
                            label="Language Version"
                            :required="false"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.environment"
                            name="environment"
                            type="text"
                            placeholder="Live, staging or development"
                            label="Environment"
                            :required="true"/>
    </form>
</template>

<script>
import FormFieldComponent from "@/components/forms/FormFieldComponent";

export default {
    name: "CiteFormComponent",
    components: {FormFieldComponent},
    props: {
        formData: {
            type: Object,
            required: true,
            default: {}
        }
    },
}
</script>

<style scoped>

</style>