<template>
    <div class="w-full">
        <label class="block text-gray-700 text-sm font-bold mt-4" :for="name">
            {{ label }}
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-2 leading-tight focus:outline-none focus:shadow-outline"
                @keyup="$emit('field-change', $event)"
                :value="value"
                :name="name"
                :id="name"
                :type="type"
                :placeholder="placeholder"
                :required="required">
        </label>
    </div>
</template>

<script>
export default {
    name: "FormFieldComponent",
    props: {
        label: {
            type: String,
            required: true
        },
        type: {
            type: String,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        value: {
            type: [Number, String],
            required: false,
            default: undefined
        },
        placeholder: {
            type: String,
            required: true
        },
        required: {
            type: Boolean,
            required: false,
            default: false
        }
    }
}
</script>

<style scoped>

</style>