<template>
    <form class="md:w-96 w-full">
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.firstName"
                            name="firstName"
                            type="text"
                            placeholder="ex. Oliver"
                            label="First Name"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.lastName"
                            name="lastName"
                            type="text"
                            placeholder="ex. Cvetkovski"
                            label="First Name"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.email"
                            name="email"
                            type="email"
                            placeholder="ex. andrej.anchevski@students.finki.ukim.mk"
                            label="Email"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.programmingLanguage"
                            name="programmingLanguage"
                            type="text"
                            placeholder="ex. Java, Python"
                            label="Programming Language"
                            :required="true"/>
        <FormFieldComponent @field-change="$emit('form-change', $event)"
                            :value="formData.framework"
                            name="framework"
                            type="text"
                            placeholder="ex. Spring Boot, Django"
                            label="Framework of choice"
                            :required="true"/>
        <CheckboxListComponent @check-list-change="$emit('form-check-list-change', $event)" title="Add user to roles"
                               :items="formData.roles"/>
    </form>
</template>

<script>
import FormFieldComponent from "@/components/forms/FormFieldComponent";
import CheckboxListComponent from "@/components/forms/CheckboxListComponent";

export default {
    name: "UserFormComponent",
    components: {CheckboxListComponent, FormFieldComponent},
    emits: ['form-change', 'form-check-list-change'],
    props: {
        formData: {
            type: Object,
            required: true,
            default: {}
        }
    }
}
</script>

<style scoped>

</style>